:root{
  --primary-color: #2D3240;
  --secondary-color: #4654A6;
  --tertiary-color: #5B6ED9;
  --fourth-color: #3BD98F;
  --fifth-color: #F24949;
  --sixth-color: #666873;
  --seventh-color: #424859;
  --font-color: #F2F2F2;
  --font-sacondary-color: #BDBDBF;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@media  screen and (min-width: 320px) {
  
  .navbar{
    width: 100vw;
    height: 4rem;
    background-color: var(--primary-color);
    color: var(--font-color);
    position: sticky;
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }

  .navbar-logo{
    height: 4rem !important;
    width: 9rem !important;
    object-fit: contain;
  }

  .navbar-signin {
    height: 1.5rem;
    padding: 6px;
    padding-bottom: 2px;
    background-color: var(--fourth-color);
    border-style: none;
    color: var(--primary-color);
    border-radius: 3px;

}

  .checkbtn, .navbar-icons {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    cursor: pointer;
  }

  .navbar-icons {
    pointer-events: none;
    font-size: 1.5rem;
    color: var(--font-color);
  }

  .checkbtn {
    opacity: 0;
  }
  
  .fi-br-x{
    display: none;
  }

  .checkbtn:checked ~ .fi-br-menu-burger{
    display: none;
  }

  .checkbtn:checked ~ .fi-br-x {
    display: block;
  }

  .checkbtn:checked ~ .navbar-menu {
    z-index: 1;
    top: 3rem;
  }

  .navbar-menu {
    width: 10rem;
    position: absolute;
    top: -24rem;
    z-index: -1;
    right: 0px;
  }

  .navbar-menu ul li{
    font-size: 1rem;
    color: var(--font-color);
    background-color: var(--primary-color);
    display: block;
    padding: 0.8rem 0.9rem;
  }

  /* ************************MAIN STYLES*************************** */

  main{
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem;
    color: var(--font-color);
  }

  .filters{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .filters-games{
    width: 100%;
    display: flex; 
    gap: 1rem;
  }

  .filters-games-select {
    width: 65%;
    padding: 0.5rem;
    border-radius: 5px;
    color: var(--font-color);
    background-color: var(--sixth-color);
  }

  .filters-games-search {
    width: 30%;
    padding: 0.5rem;
    padding-top: 0.5rem;
    border-radius: 5px;
    display: flex;
    color: var(--font-color);
    background-color: var(--sixth-color);
    
  }

  .filters-games-search input {
    width: 50%;
    color: var(--font-sacondary-color);
  }

  select, input{
    background-color: var(--sixth-color);
    color: var(--font-color);
    font-size: 1rem;
    border-style: none;
  } 

  .filters-items {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2rem;
    display: flex;
    background-color: var(--sixth-color);
  }

  .filters-games, .icons{
    color: var(--fourth-color);
  }

  .filters-items-price {
    width: 50%;
    padding: 0.5rem;    
    color: var(--font-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cards-filters-items{
    width: 65%;
    padding: 0.4rem;
    border-radius: 4px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  .cards {
    width: 90%;
    background-color: #242833;
    color: var(--font-color);
    border-radius: 4px;
    border: var(--secondary-color) solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
   
}

  .cards-filters{
    width: 90%;
    display: flex;
    padding: 0.5rem;
    color: var(--font-sacondary-color);
  }

  .cards-filters icons{
    color: var(--fourth-color)  
  }

  .cards-grilla {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .card-product {
    width: 15rem;
    display: flex;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    flex-direction: column;
    background-color: var(--primary-color);
    gap: 0.5rem;
  }

  .card-product-head {
    display: flex;
    justify-content: space-between;
  }

  .card-product-state {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .card-product-sale { 
    font-size: 0.8rem;  
    display: flex;
  }

  .stock {
    width: 4rem;
    font-size: 0.8rem;
    color: var(--fourth-color);
    border: var(--fourth-color) solid 1px;
    border-radius: 4px;
    padding: 4px;
  }

  .product-stock {
    padding: 0.3rem;
    border-radius: 4px;
    background-color: var(--seventh-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .product-arrow {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fi-ss-bullet, .fi-ss-dice-d10 {
    color: var(--fourth-color);
  }

  .card-product-img {
    width: 4rem;
    height: 4rem;
  }

  .card-product-logo {
    display: flex;
    justify-content: space-between;
  }

  .card-product-price {
    width: 60%;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;    
  }

  .card-product-price-red {
    color: var(--fifth-color);
    text-decoration: line-through;
  }

  .card-product-description {
    font-size: 0.7rem;
  }

  .card-product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .details {
    padding: 0.6rem;
    background-color: var(--seventh-color);

  }

  .card-product-cart {
    padding: 0.3rem;
    background-color: var(--tertiary-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
  }

  .fi-ss-shopping-cart {
    padding: 0.4rem;
    background-color: var(--secondary-color);
    border-radius: 5px;

}




}

